body {
  background-color: white;
  padding-top: 0 auto;
  color: #2b2b2b;
  margin: 0;
  font-family: 'HK Grotesk';
    font-weight: normal;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'sansationbold';
    margin: 0;
    line-height: 2em;
    text-transform: uppercase;
}
.font_oj {
    color:#000033;
}
h2 {
  margin-bottom: 20px;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 100;
}
h3 {
  margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 100;
}

p, li, input, textarea {
  line-height: 1.5;
    font-size: 18px;
        font-family: 'sansation_lightregular', arial, sans-serif;
    letter-spacing: 0.5px;
    color:#333333;
}
li {
    line-height: 1.75;
    
}

a, button {
    font-family: 'HK Grotesk';
    font-weight: 300;
}

.button.inverse {
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  font-size: 10px;
  /*width: 175px;*/
}

.button.inverse:hover {
  background-color: transparent;
}
#hidden {
    display: none;
}


/*  ==========  SEAN EDITS  =============*/
a.request_demo button {
    font-size: 15px;
    text-transform: uppercase;
    background:#ea3b2d;
    color:#fff;
    padding:20px;
    min-width: 250px;
    border: 0;
    font-family: 'sansationbold';
    cursor: pointer;
    outline:0;
    margin-bottom: 60px;
}

/*  ==========  ANDREW HEADER  =============*/

header ul.sub-menu {
    position: absolute;
    background: #000033;
    display: none;
    transition: 0.25s all ease;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99;
    min-width: 150px;
}
header nav ul.menu ul.sub-menu li {
    margin-left: 0;
    margin-right: 0;
    display: block;
    
}
header ul.sub-menu a {
    color:#fff;
    font-size: 12.5px;
}
header li.menu-item-has-children:hover > ul.sub-menu   {
    display: block;
}
ul.sub-menu a:hover{
    color:#ea3b2d;
}
header {
	text-transform: uppercase;
	font-family: 'HK Grotesk';
    font-weight: 500;
    font-style: normal;
    padding: 0 15px;
    height: 90px !important;
    border-bottom: 1px solid #e0e0e0;
        display: flex;
    align-items: center;
}

header .logo {
  color: #1e182b;
  font-weight: bold;
  font-size: 16px;
    margin-left: 20px;
}
header .logo img {
    height:40px;
}
header nav {
  position: absolute;
  right: 70px;
}

header nav a {
  color: #000033;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 14px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s;
    font-family: 'sansationbold';
}
header nav a:hover {
    color:#000033;
    border-bottom: 1px solid #000033;
}

header nav a:last-child {
  margin-right: 0;
}
header nav li.current-menu-item a {
    color:#ea3b2d;
    border-bottom: 1px solid #ea3b2d;
}
header li.current-menu-item ul.sub-menu a {
    border-bottom: 0;
}
#hamburger {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 22px;
}

.hamburger_line {
    width: 31px;
    background-color: #1e182b;
    margin: 7px 0;
    height: 3px;
    border-radius: 5px;
    transition: 0.4s;
}
ul#responsive-menu {
    padding-top: 100px;
}
.change1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change2 {
    opacity: 0;
}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.dropdown {
  position: fixed;
  top: 100px;
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  display: none;
}

.flex {
  display: flex !important;
}

.noScroll {
  overflow: hidden;
}

.dropdown a {
  color: white;
  margin-bottom: 20px;
    
}
.dropdown ul li {
    margin-bottom: 20px;
    text-align: center;
}
/*  ==========  ANDREW HEADER END  =============*/

/*  ==========  SEAN HEADER START  =============*/


nav ul.menu li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}
ul#menu-primary-menu-2 {
  text-align: center;
}
footer ul.menu li {
    text-transform: uppercase;
    font-family: 'proxima_novabold', sans-serif;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 0.5px;
}



/*  ==========  ADJUVANT MODAL  =============*/

.modalbg {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.modalbg .dialog {
    width: 95%;
  max-width: 900px;
  position: relative;
  top: -2000px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
    padding-bottom: 50px;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10, 30, 0.8);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
  top: -20px;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}
.close {
  color: #000033;
  line-height: 25px;
  position: absolute;
  right: 25px;
    cursor: pointer;
  text-align: center;
  top: 40px;
  width: 48px;
    font-size: 34px;
  text-decoration: none;
    -webkit-font-smoothing: antialiased;
  font-weight: 100;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.close:hover {  
    color:#474747;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.dialog .visual {
    margin-top: -110px;
    margin-bottom: 25px;
}
.modalbg p {
    line-height: 1.35em;
    width: 99%;
    margin: 0 auto 10px;
    font-size: 16px;
    text-align: left;
}

/*  ==========  NEWS PAGE  =============*/

.news_wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.news_wrapper_single {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
.news_wrapper_single img {
    float: left;
    margin-right: 30px;
}
.news_wrapper_single h5 {
    color: #000033;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 14px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .3s;
    font-family: 'sansationbold';
}
.news_wrapper_single > img {
    width:80%;
    height: auto;
}
ul.display-posts-listing li.listing-item {
    width: 29.3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
ul.display-posts-listing li.listing-item img {
    height: 200px;
}
ul.display-posts-listing li.listing-item span.excerpt {
    font-size: 14.5px;
    text-align: left;
    line-height: 1em;
}
ul.display-posts-listing li.listing-item a {
    display: block;
    text-align: center;
}
ul.display-posts-listing li.listing-item a:last-child {
    background: red;
    width: 100px;
    text-transform: uppercase;
    color:#fff;
    font-family: 'sansationbold';
    margin: 20px auto;
    padding: 15px 20px;
}
ul.display-posts-listing li.listing-item a.image {
    display: block;
    margin-bottom: 10px;
}
ul.display-posts-listing li.listing-item a.title {
    display: block;
    text-align: center;
    color: #000033;
    font-size: 17px;
    font-family: 'sansationbold';
}
ul.display-posts-listing li.listing-item span.date {
        color: #ea3b2d;
    font-size: 15px;
}

/*  ==========  ADJUVANT CONSULTATIVE SERVICES  =============*/
.icons .container {
        padding: 100px 75px;
    max-width: 1000px;
    margin: 0 auto;
}
#headshot_container {
    text-align: center;
}
.icons .icon_group {
    display: inline-block;
    vertical-align: top;
    width: 29.3%;
    margin-left: 1.8%;
    margin-right: 1.8%;
    margin-bottom: 50px;
    text-align: center;
}
.icons .icon_group img {
    height: 75px;
    margin-bottom: 15px;
}
.icons#headshots .icon_group img {
    height: 168px;
}
.icons#headshots .icon_group {
    width: 22%;
    margin-left: 1%;
    margin-right: 1%;

    cursor: pointer;
    
}
.icons#headshots .icon_group > .visual {
            -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: 0.65s all ease;
}
.icons#headshots .icon_group > .visual:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

}
.icons .icon_group p,
.icons .icon_group p a{
        color: #333;
    font-size: 14px;
    transition: 0.35s all ease;
}
.paoc-popup-modal-cnt {
    padding-bottom: 50px !important;
}
.paoc-popup-modal-cnt h3 {
        font-size: 30px;
    color: #000033;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 100;
        width: 85% !important;
    margin: 0 auto 30px !important;
}
.paoc-popup-modal-cnt p {   
    font-size: 18px;
    font-weight: 300;
        width: 85% !important;
    margin: 0 auto !important;
    line-height: 1.5em !important;
}
.paoc-popup-modal-cnt ul li {
    width: 80% !important;
    margin: 0 auto !important;
    list-style-type: disc;
    font-size: 16px;
}
.icons .icon_group p a:hover {
    color:#000033;
    text-decoration: underline;
}
.icons#headshots .icon_group p span{
    color:#000033;
    font-weight: 700;
    font-size: 18px;
    font-family: 'sansationbold';
}
/*  ==========  HOME HERO SECTION  =============*/
.hero {
  height: 550px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
    text-align: center;
}
.small_hero {
     height: 150px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
    text-align: center; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    margin-top: -1px;
}
.small_hero .text_box p {
    font-size: 28px;
    color:#fff;
    letter-spacing: 1.5px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
.hero .overlay,
.small_hero .overlay{
    background: rgba(0, 0, 51, 0.65);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small_hero .overlay {
    background: rgba(43, 43, 43, 0.8);
}

.hero h1 {
  font-size: 40px;
    color:#fff;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 100;
    text-transform: none;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
/*    margin: 160px auto 40px;*/
}
.hero h1.margin_reduce {
    margin: 90px auto 30px
}
.hero p {
    font-family: 'sansation_lightregular';
  font-size: 24px;
    letter-spacing: 1.5px;
    color:#fff;
    margin: 0 auto 30px;
    max-width: 750px;
}
.hero .text_box {
    left: 0;
    right: 0;
    margin: auto;bottom: 0;
    text-align: center;
}
.hero .text_box img {
    width: 128px;
}
.hero a.button {
    margin: 0 auto;
    bottom: 50px;
    max-width: 160px;
}

.home_hero {
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home_hero.blog_hero {
    height: 350px;
}
.home_hero.blog_hero h1 {
    font-size: 36px;
    width: 98%;
}
.home_hero .button {
  margin-top: 10px;
}


.moveUp {
  margin-top: 130px;
}
/*  ==========  HOME HERO SECTION END =============*/


.initiative {
    text-align: center;
}
.initiative .wp-video {
    margin: 0 auto 75px;
    
}
.initiative p {
    text-align: center;
}
.initiative a {
    color:#333;
}
/*  ==========  CLIENT LOGO SECTION =============*/
.intro {
  background-color: white;
  /*border-bottom: 1px solid #eaeaea;*/
  text-align: left;
  margin: auto;
}
.intro .container {
    padding: 100px 75px;
    max-width: 1000px;
    margin: 0 auto;
}
/*
.intro .container > div {
  display: flex;
  justify-content: flex-start;
}
*/
.intro h1 {
    text-align: center;
    font-size: 30px;
    color:#000033;
}
.intro > div p.inline_text {
    width: 65%;
    display: inline-block;
    margin-right: 5%;
}
.intro > div p.inline_video {
    width: 25%;
    display: inline-block;
}
.intro > div p.inline_video img {
    border-radius: 50%;
    width: 200px !important;
    height: 200px !important;
}
body > section:nth-child(4) > div > div:nth-child(2) > p.inline_video{
    width: 25% !important;
    display: inline-block !important;
}
.intro > div p {
    width: 95%;
    margin:0 auto 20px;
    text-align: left;
}
.intro > div li {
    padding-left: 35px;
    position: relative;
}
.intro > div li:before {
    content:url('/wp-content/uploads/2018/08/leaf.png');
    position: absolute;
    left: 0;
}
.intro > div p.inline_text strong {
     line-height: 4em;
    font-size: 38px;
    letter-spacing: 1px;
    font-weight: 100;
}
.intro .container_overflow#alt p {
    margin-bottom: 10px;
}

.intro > div p strong {
    color:#474747;
    font-family: 'sansationbold' !important;
    
}
section.intro.initiative {
    text-align: center;
    margin-bottom: 75px;
}
section.intro.pricing {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid #eee;
}
section.intro.pricing h2 {
    text-align: center;
}
.logos {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  margin-bottom: 0;
}

.intro .button {
  margin-top: 20px;
}

.intro p {
  margin-top: 0;
}

.container_overflow {
    overflow: hidden;
    margin-top: 100px;
}
.container_overflow#alt {
    margin-top: 20px;
}
.container_overflow .row_3 {
    float: left;
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    margin-bottom: 60px;
}
.container_overflow .row_3 img {
    width: 70px;
    margin: 0 auto;
}
.container_overflow .row_3 h3 {
    font-size: 20px;
    font-family: 'sansationregular';
    text-transform: capitalize;
    transition: all 1s ease;
}
.container_overflow .row_3 h3:hover {
    font-family: 'sansationbold';
    transform: scale(1.1); 
}
.logos a {
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  /*background: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.logos a img {
  max-height: 120px;
  width: 100%;
  box-shadow: 0px 0px 15px #00000021;
}

.logos a .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #684d94;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;

}

.logos a .overlay p {
  font-weight: bold;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
/*  ==========  PRICING =============*/
.course_choices {
    background: #EDEDF0;
    padding-top: 100px;
    padding-bottom: 75px;
}
.course_choices .container {
    width: 98%;
    margin: 0 auto;
    max-width: 1000px;
    overflow: hidden;
}
.course_choices .container .course {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;
    float: left;
    background: #fff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.course_choices .container .wrapper {
    padding: 30px;
}
.course_choices .container .course h4 {
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2; 
    margin-bottom: 20px;
}
.course_choices .container .course p {
    font-size: 14px;
}
.course_choices .container .course h5 {
    text-align: center;
    color:#ea3b2d;
    font-size: 22px;
    margin-bottom: 0;
}
.course_choices .container .course button,
.popupaoc-button{
    width: 100%;
    background-color: #000033 !important;
    color: white !important;
    padding: 18px 54px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color .3s;
    text-transform: uppercase;
    font-family: 'sansationbold';
    transition: 1s all ease;
    margin-top: 35px;
}
.popupaoc-button {
    width: 90%;
}
.logged-in .popupaoc-button {
    display: none;
}
.course_choices .container .course button {
/*    display: none;*/
}
.logged-in .course_choices .container .course button {
/*    display: block;*/
} 
.course_choices .container .course button:hover {
    background: #ea3b2d;
}
.contact_pricing {
    background: #000033;
}
.contact_pricing h3 {
    text-align: center;
    color: #fff;
}
.contact_pricing .wpcf7-text,
.contact_pricing .wpcf7-textarea{
    background: transparent;
    font-weight: 600;
    font-size: 16px;
}
.contact_pricing .wpcf7-submit {
    background: #fff;
    color:#000033 !important;
    font-size: 18px;
    font-weight: 600 !important;
}
.single-product .hero .text_box,
.page-id-923 .hero .text_box,
.page-id-925 .hero .text_box{
    width: 100%;
}
.single-product section.hero.home_hero.blog_hero,
.page-id-923 section.hero.home_hero.blog_hero,
.page-id-925 section.hero.home_hero.blog_hero{
    background: #fff !important;
    height:auto;
    display: block;
}
.single-product .hero .overlay, .small_hero .overlay,
.page-id-923 .hero .overlay, .small_hero .overlay,
.page-id-925 .hero .overlay, .small_hero .overlay{
    background: #fff !important;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
}
.woocommerce-page header.entry-header {
        background: #fff !important;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
}
.woocommerce-page header.entry-header h1 {
        color: #000033;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 100;
        text-transform: uppercase;
}
.woocommerce-page .entry-content {
        padding-top: 75px;
    padding-bottom: 75px;
    background: #EDEDF0;
}
.woocommerce-page .entry-content .woocommerce {
    width: 98%;
    max-width: 750px;
    margin: 0 auto;
}
div#customer_details .col-1,
div#customer_details .col-2{
        width: 100% !important;
    max-width: 750px;
    margin: 0 auto 40px !important;
    float: none !important;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.single-product .hero h1,
.page-id-923 .hero h1,
.page-id-925 .hero h1{
    color:#000033;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-product {
    background:#EDEDF0;
}
.single-product .news_wrapper_single{
    overflow: hidden;
    background:#EDEDF0;
}
.single-product .news_wrapper_single h5 {
    display: none;
}
.single-product .product_meta{
    display: none;
}
.single-product .quantity{
    display: none;
}
.single-product .woocommerce-product-gallery {
    display: none;
}
.single-product .summary.entry-summary {
    width: 100% !important;
    float: none !important;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.single-product .summary.entry-summary p.price {
    width: 90%;
    margin: 0 auto 40px;
    color:#ea3b2d !important;
    font-size: 22px;
}
.woocommerce div.product div.summary {
    overflow: hidden;
}
.contact_btn {
        background-color: #000033 !important;
    padding: 18px 54px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
    letter-spacing: 1px;
    font-family: 'sansationbold';
    transition: 1s all ease;
    margin-top: 35px !important;
    float: right !important;
    margin-right: 5% !important;
}
.button.contact_btn:hover {
    background: #ea3b2d !important;
    color: #fff !important;
}
.woocommerce-product-details__short-description {
    width: 90%;
    margin: 0 auto;
}
.single-product button.single_add_to_cart_button{
    background-color: #000033 !important;
    padding: 18px 54px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
    letter-spacing: 1px;
    font-family: 'sansationbold';
    transition: 1s all ease;
    margin-top: 35px !important;
    float: right !important;
    margin-right: 5% !important;
}
.single-product button.single_add_to_cart_button:hover {
    background: #ea3b2d !important;
    color:#fff !important;
}
.checkout_fields {
    padding-top: 75px;
    padding-bottom: 75px;
    background: #EDEDF0;
}
.checkout_fields .wrapper,
 div#order_review{
    width: 98%;
    max-width: 750px ;
    margin: 0 auto;
}
.page-id-923  .col2-set .col-1, .page-id-923  .col2-set .col-1,
.page-id-923  .col2-set .col-2, .page-id-923  .col2-set .col-2{
    width: 100% !important;
    max-width: 750px;
    margin: 0 auto 40px !important;
    float: none !important;
    background: #fff;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.woocommerce form.login,
.woocommerce form.register{
    background: #fff;
    border-radius: 0px !important;
    margin-top: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.paoc-popup-modal-cnt {
    background: #EDEDF0 !important;
}
.paoc-popup-modal-cnt h2 {
    color:#fff;
    background: #000033;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 20px;
}
.paoc-popup-modal-cnt .woocommerce button.button {
    background: #ea3b2d;
    opacity: 1;
    font-weight: 100;
}
.paoc-popup-modal-cnt input {
    padding: 10px;
    border: 2px solid #000033;
}
.paoc-popup-modal-cnt form .form-row {
    margin-bottom: 20px !important;
}
p.woocommerce-LostPassword.lost_password {
    margin-top: 20px;
}
.woocommerce-billing-fields__field-wrapper,
.woocommerce-additional-fields__field-wrapper{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
}
form.checkout.woocommerce-checkout h3 {
    color:#fff;
    background: #000033;
    font-weight: 100 !important;
    font-size: 24px;
    padding: 20px;
}
form.checkout input, form.checkout select {
    padding-top:10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    border:2px solid #000033 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background: #fff;
}
form.checkout select {
    height: 40px;
}
form.checkout label{
    font-weight: 700 !important;
}
button#place_order {
        background-color:#ea3b2d  !important;
    padding: 18px 54px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
    letter-spacing: 1px;
    font-family: 'sansationbold';
    transition: 1s all ease;
    margin-top: 35px !important;
}
nav.woocommerce-MyAccount-navigation {
    display: none;
}
div#customer_login h2 {
    font-size: 20px;
}


section.related.products {
    padding-top: 50px;
    text-align: center;
}
section.related.products .price,
section.related.products a.button {
    display: none !important;
}
section.related.products  h2.woocommerce-loop-product__title {
    color:#000033 !important;
}
a.button.xoo-wsc-chkt.btn {
    background: #000033 !important;
    color:#fff !important;
    margin: 0 auto;
}
.woocommerce button.button {
        background: #000033 !important;
    color:#fff !important;
}
button.single_add_to_cart_button.button.alt {
    display: none;
}
.woocommerce-info {
    border-top-color:#000033 !important;
    background: #000033 !important;
    color:#fff !important;
}
.woocommerce-info a {
    color:#fff;
}
.woocommerce-info::before {
    color:#fff !important;
}
/*  ==========  ABOUT US PAGE =============*/
.grey_tone {
    padding: 150px;
    background: #f2f2f2;
    text-align: center;
}
.company_logo {
    /* width: 100%; */
    width: 800px;
    margin: 0 auto;
}
.company_logo img {
    display: inline-block;
    vertical-align:middle;
    /* max-width: 200px;
    padding: 50px; */
    max-width: 20%;
    padding: 15px;
}

@media ( max-width: 1200px ) {
  .company_logo {
    width: 100%;
  }
  .company_logo img {
    max-width: 25%;
    padding: 25px;
  }
}

@media ( max-width: 800px ) {
  .grey_tone{
    padding: 0px;
  }
  .company_logo img {
    max-width: 200px;
    padding: 25px;
  }
    
}
@media ( max-width: 550px ) {
    .blog_container {
        width: 90% !important;
        margin: 0 auto;
        padding-bottom: 0 !important;
        float: none;
    }
    
}

/*TESTIMONIALS SECTION*/
.testimonials {
    background: #000033;
    padding-top: 50px;
    padding-bottom: 50px;
/*
    display: flex;
    align-items: center;
*/
    min-height: 200px;
    margin-bottom: 50px;
}
.testimonials .wrapper {
    width: 90%;
    margin: 0 auto;
}
section.testimonials .testimonial {
    width: 100%;
}
section.testimonials .testimonial img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid #ea3b2d;
    display: inline-block;
    vertical-align: top;
}
section.testimonials .testimonial .content {
    display: inline-block;
    width: 75%;
    margin-left: 5%;
}
section.testimonials .testimonial .content h5 {
        font-size: 20px;
    font-family: 'sansationregular';
    color:#fff;
    line-height: 1.5em;
}
section.testimonials .testimonial .content p {
    font-size: 17px;
        font-family: 'sansation_lightregular';
    color:#fff;
}
/*CLIENTS SECTION*/
logos.swiper-slide {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.swiper2 {
    width:90%;
    margin-bottom: 50px !important;
    padding-bottom: 100px !important;
}
.swiper1 {
    padding-bottom: 50px !important;
}
.swiper2 h3 {
    text-align: center;
    margin-bottom: 40px;
}
.swiper2 .swiper-pagination-bullet-active    {
    background:#ea3b2d !important;
}
.swiper1 .swiper-pagination-bullet-active    {
    background:#fff !important;
}
.swiper-pagination-bullet {
    border-radius:0 !important;
}
.swiper1 .swiper-pagination-bullet {
    border:2px solid #fff !important;
}
/*  ==========  ABOUT US SECTION =============*/
.about_us {
  padding: 50px 100px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  background-color: #f7f7f7;
}

.services {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  align-items: flex-end;
  margin: auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.service img {
  max-width: 80px;
  width: 100%;
  margin-bottom: 15px;
}

.service p {
  margin-top: 0px;
}

.about_us {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.about_text {
  padding-left: 40px;
  width: 50%;
    margin-right: 0;
    margin-left: auto;
}

.about_text p {
  margin-right: 50px;
}

.about_text ul li {
    margin-bottom: 5px;
    font-size: 18px;
    column-count: 2;
    padding-left: 5px;
    list-style-type: disc;
}
.float_right_img {
  width: 40%;
}

.float_right_img {
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_us img {
  width: 250px;
  box-shadow: 0px 0px 15px #00000021;
  border-radius: 100%;
}

.bio .auto_center {
  width: 800px;
    line-height: 1.35em;
}

.bio p {
  width: 95%;
}

@media ( max-width: 1100px ) {
  .bio .auto_center {
    margin: 0 auto;
    width: 100%;
  }
  
  .bio p {
    margin: 0 auto;
    width: 100%;
  }
}

@media ( max-width: 925px ) {
  #case_studies_p {
    font-size: .9em;
  }
}



/*  ==========  ABOUT US SECTION END =============*/





/*  ==========  GROWTH SECTION =============*/
.growth {
  padding: 150px 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.growth div {
  width: 40%;
}


.lets_talk.button {
  margin: 50px auto;
  display: block;
    color:#2b2b2b !important;
    border:1px solid #2b2b2b;
    width: 200px;
} 
.lets_talk.button:hover {
    color:#fff !important;
}
.talk_button {
    margin-top: 40px;
}

.partofteam {
  width: 37%;
  margin: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}
/*  ==========  GROWTH SECTION END =============*/





/*  ==========  FOOTER =============*/
footer.main_footer {
      border-top: 1px solid #000033;
  background-color: #fff;
  
  padding: 75px 0;
  padding-top: 0;
  overflow: hidden;
  position: relative;
/*  margin-top: -30px;*/
    clear: both;
}

.footer_holder {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 32px;
  position: relative;
    border-top:1px solid #f8f8f8;
}
.footer_holder img {
    max-width: 250px;
}
footer .morgan{
  text-align: center;
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #8d879f;
  top: 49px;
}

.footer_holder > div {
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid #ffffff4d;
}

.footer_holder > div:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.join_footer {text-align: center;margin-top: 40px;}

.join_footer p {font-size: 2.5em;}

.links a {
  display: block;
  margin-bottom: 13px;
        color: #000033;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'sansationregular';
}
.social_links {
    margin-left: 15px;
}
.social_links ul li {
    display: inline-block;
    vertical-align: center;
}
.social_links ul li img {
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.left_center {
  width: inherit;
  text-align: left;
  margin: auto;
}

.news p {
  color: white;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.news p.industry {
    color: white;
    font-weight: bold;
    font-family: 'proxima_novabold', sans-serif;
    /*text-align: center;*/
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons img {
  width: 33px;
}

.updates p {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  margin-top: 0;
}

.updates input.input {
  width: 200px;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
    max-height: 35px !important;
}

/*
.updates form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*/

.updates .button {
  padding: 8px 30px;
  margin-left: 10px;
}
.updates .button:hover {
    border-color: #fff;
}
/*  ==========  FOOTER END =============*/




/*  ==========  TEAM PAGE  =============*/
.about_hero {
  background-size: cover;
  background-position: center;
  background-color: #ffffffb5;
  background-blend-mode: soft-light;
}

.team_list {
  padding: 100px 30px;
}

.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.team.top {
    text-align: center;
    margin: 0 auto;
}
.team_header {
    text-align: center;
    margin: 100px auto;
    border-bottom: 1px solid #eaeaea;
    
}

.team {
  margin: 1%;
    text-align: center;
  position: relative;
}

.team img {
  max-height: 300px;
  transition: filter .5s;
  cursor: pointer;
}

.grey {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.team .button.inverse {
  display: none;
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  width: 175px;
}

.team .button.inverse:hover {
  background-color: transparent;
}

.team .button a {
  font-size: 12px;
  color: white;
}

.team h4 {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.team h6 {
  margin-left: 20px;
  margin-top: 10px;
    font-size: 14px;
}
/*  ==========  TEAM PAGE END =============*/



/*  ==========  PORTFOLIOS PAGE  =============*/
.portfolio_hero {
  background-size: cover;
  background-position: bottom center; 
  background-color: #ffffff87;
  background-blend-mode: soft-light;
}
.portfolio_nav {
    float: left;
    width: 35%;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
    float: left;
    width: 60%;
    margin-left: 5%;
    margin-bottom: 50px;
    
}
.portfolio_container {
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.portfolio a {
  height: 225px;
  width: 225px;
  box-shadow: 0px 0px 15px #00000021;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale .5s;
    position: relative;
}
.portfolio .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(104, 77, 148, 1);
      display: flex;
  justify-content: center;
  align-items: center;
    visibility: hidden;
}
.portfolio .overlay p {
    color:#fff;
    font-weight: bold;
    font-family: 'proxima_novabold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.portfolio_Wrapper {
    padding-top: 100px;
}
.portfolio a:hover {
  transform: scale(.98);
}

.portfolio img {
    height: 100%;
    max-height: 100px;
    max-width: 100%;
}

/*  ==========  PORTFOLIOS PAGE END  =============*/



/*  ==========  BLOG PAGE  =============*/

.blog h1.page-title {
    text-align: center;
    
    
}
.blog main#main {
    overflow: hidden;
    padding-bottom: 100px;
}
.blog aside#secondary{
    display: none;
}
.blog_container {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 27.3%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}
.blog_container header {
    padding: 0;
    height: auto;
    text-align: center;
    justify-content: center;
}
.blog_container .entry-meta {
    display: none;
}
.blog_container h2.entry-title {
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    
}
.blog_container h2.entry-title a {
    color:#2b2b2b;
    font-family: 'sansationbold' !important;
    text-align: center;
}
.blog_container footer {
    display: none;
}
.blog_container .entry-content {
    width: 90%;
    margin: 0 auto;
    height: 215px;
    overflow: hidden;
}

.blog_container article img {
    width: 100%;
    height: auto;
}


/*  ==========  PORTFOLIO PAGE  =============*/
/*.logo_hero {
  height: 150px;
  background-image: url('/wp-content/themes/emagid/assets/img/certify_hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #674d94;
  background-blend-mode: soft-light;
}*/

.portfolio_hero {
    border-bottom: 1px solid #eaeaea;
    background-size: cover;
    background-position: center;
    background-color: #ffffff87;
    background-blend-mode: soft-light;
}

.a_portfolio {
    background-image: url('/wp-content/themes/emagid/assets/img/certify_hero.jpg');
}

.portfolio_onepay {
    background-image: url('/wp-content/themes/emagid/assets/img/onepay_hero.jpg');
}

.portfolio_tag {
    background-image: url('/wp-content/themes/emagid/assets/img/tag_hero.jpg');
}

.portfolio_connect {
    background-image: url('/wp-content/themes/emagid/assets/img/connect_hero.jpg');
}

.circle_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0px 15px #0000002b;
  border-radius: 100%;
  width: 300px !important;
  height: 300px !important;
  background: white;
}

.circle_logo img {
  width: 180px !important;
}

.client_head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 75px 30px;
  border-bottom: 1px solid #eaeaea;
}

.client_head p {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 26px;
}

.client_body {
  padding: 150px 100px;
  text-align: center;
  padding: 100px 100px;
   background: #f7f7f7; 
  /* border-bottom: 1px solid #eaeaea; */
  border-bottom: 1px solid #eaeaea;
}

.client_body p {
  text-align: left;
  max-width: 800px;
  margin: auto;

}

.client_body img {
  width: 100%;
  max-width: 500px;
}

.technology {
  padding: 150px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.technology img {
  max-width: 500px;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
/*.tech_text {
  width: 50%;
  padding-right: 50px;
}

.technology .float_right_img {
  background-image: url('/wp-content/themes/emagid/assets/img/certify_img.png');
}*/
/*  ==========  PORTFOLIO PAGE END =============*/




/*  ==========  PERSON PAGE  =============*/
.person_hero {
  border-bottom: 1px solid #eaeaea;
}

.person_hero .circle_wrapper {
  overflow: hidden;
}

.person_hero .circle_wrapper img {
  width: 330px !important
}

.quotes {
  padding: 75px 0;
  border-bottom: 3px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statement {
    margin: 0 auto;
    padding:100px;
    border-bottom: 3px solid #eaeaea; 
}

.quotes p {
  padding: 0 50px;
  font-size: 20px;
}

.quotes span {
    font-size: 65px;
    position: relative;
    left: 18px;
    font-family: 'Futura', sans-serif;
    color: #674d94;
}

.bio {
  padding: 150px;
}


}

/*  ==========  PERSON PAGE END  =============*/





/*  ==========  CONTACT PAGE  =============*/

.bio {
  padding: 100px;
}
.bio .form input.wpcf7-form-control.wpcf7-submit{
        background-color: #684d94;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color .3s;
    text-transform: uppercase;
}
.bio .form input[type=text],
.bio .form input[type=email]{
    padding: 10px;
    background: transparent;
    border: 1px solid #1e182b;
    outline: none;
    width: 90%;
}
.bio .form textarea {
    padding: 10px;
    background: transparent;
    border: 1px solid #1e182b;
    outline: none;
    width: 90%;
}
.bio .form {
    overflow: hidden;
}
.bio .form .form_left {
    width: 35%;
    float: left;
}
.bio .form .form_right {
    width: 60%;
    margin-left: 5%;
    float: left;
}
.contact_form {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
}
.contact_form p {
    width: 100%;
}

/* new */

#wpcf7-f30-o2 {
  margin: 0 auto;
  width: 800px;
}

.wpcf7-text, .wpcf7-textarea,
input.wpcf7-email{
  width: 100%;
  border-radius: 1px;
  border: 1px solid #757575;
    font-size: 14px;
}

.wpcf7-text, .wpcf7-textarea {
  height: 50px;
  padding-left: 10px;
}
.wpcf7-textarea {
    height: 200px;
}
.newsletter .wpcf7-submit {
        background-color: transparent;
    border: 1px solid #474747;
    color: white !important;
    padding: 8.5px 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color .3s;
    max-width: 140px;
    margin: 0;
    vertical-align: middle;
}
.newsletter div.wpcf7-mail-sent-ok {
    color:#fff;
    width: 90% !important;
    margin: 10px auto !important;
    padding: 0 !important;
}
.newsletter .wpcf7-submit:hover {
    border-color: #fff;
}

.wpcf7-submit{
background-color: #000033;
    border: 1px solid #000033;
    color: white !important;
    padding: 18px 54px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    transition: background-color .3s;
    text-transform: uppercase;
    margin: 15px auto;
}

.wpcf7-submit:hover {
  background-color: #2b2b2b;
  color: #fff;
  border-color: #2b2b2b;
  cursor: pointer;
}

@media ( max-width: 1220px ) {
  #wpcf7-f30-o2 {
    width: 100%;
  }
  .wpcf7-text, .wpcf7-textarea {
    width: 100%;
  }
}


#wpcf7-f30-o2 p {text-align: center;}
textarea[name="your-message"]::-webkit-input-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]::-moz-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]:-ms-input-placeholder{padding-top: 18px; font-size: 13px;}
textarea[name="your-message"]:-moz-placeholder{padding-top: 18px; font-size: 13px;}

/*  ==========  CONTACT PAGE END  =============*/


.button {
	background-color: #000033;
    border:1px solid #000033;
	color: white !important;
	padding: 18px 54px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
    text-transform: uppercase;
    font-family: 'sansationbold';
}

.button:hover {
  background-color: #fff;
    border-color: #fff;
    color:#000033 !important;
  cursor: pointer;
}

.navbar {
	margin-bottom: 0;
	border: none;
  	text-transform: uppercase;
  	padding: 10px;
  	padding-bottom: 0;
  	color: black;
}

.navbar-brand {
	padding: 0 15px;

}

.navbar li a, .navbar .navbar-brand {
	color: black;
}

.navbar-nav li a:hover {
	border-bottom: 3px solid #fff;
	background-color: none;
}


.navbar-reverse .navbar-toggle {
	border-color: transparent;
}

.active {
    border-bottom: 2px solid black;
    color:black !important;
    background-color: none !important;
}


#container {
	position: relative;
	width: 100%;
	padding: 0px;
}

#portfolio-section {
	background-color: #f2f2f2 !important;
}

#section1 {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}



/*Circle Pie Chart style*/
.circle_wrapper {
    position: relative;
    width:336px;
    height:225px;
}

.circle_wrapper img {
    display: block;
    width: 336px;
    height: 225px;
}

/* Masks */
.circle_wrapper > div[class^='mask'] {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}

.mask_left {
    left: 0;
    right: 50%;
}

.mask_right {
    left: 50%;
    right: 0;
}

/* Pseudo elements in masks */
.circle_wrapper > div[class^='mask']::before {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.mask_left::before {
    animation: leftHalf 2s 0s 1 linear forwards;
    transform-origin: 100% 50%; /* center right */
}
.mask_right::before {
    animation: rightHalf 2s 0s 1 linear forwards;
    transform-origin: 0% 50%; /* center left */
}

@keyframes leftHalf {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}
@keyframes rightHalf {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(180deg); }
}

.img pie-image {
	height="225";
	padding-top: 10px;
	margin-bottom: 0;
}



.portfolio-img {
	background: #f2f2f2 !important;
	padding-bottom: 40px;
	/*padding: 50px;*/
	/*margin-left: 15px;*/
	/*padding: 40px;*/
	/*padding-left: 50px;*/
}

.portfolio-img img {
	/*padding: 5px;*/
}

#services {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}

.services {
	padding-top: 50px
}

.caption {
	text-align: center;
}

#growth {
	margin-left: 15px;
	padding: 35px;
	padding-left: 50px;	
}

#growth button {
	display: block;
	margin: 0 auto;
	margin-top: 50px; 
}


.flex-container {
	padding: .5vw;
  font-size: 0;
  
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  
  display: flex;
}

.flex-container div {
	-webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}

.flex-container div img {
	width: 75%;
}

.footer {
	background-color: #1e182b;
}

.footer .header {
	text-align: center;
	color: white;
}

.footer hr {
	padding: 0;
	color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.footer .row {
    margin-bottom: 0 auto;
}

.footer ul {
	text-align: center;
}

.footer ul li {
	color: white;
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}

.footer ul li a {
	color: white;
}

#social-icons li img {
	height: 20px;
	width: 20px;
}

.footer .form-control {
	margin-left: 600px;
	display: inline;
}

.footer #signup {
	margin: 0 auto;
}







/*OUR TEAM STYLE*/
.team-list #info .button {
	position: absolute;
	width: 500px;
	left:0;
	right:0;
	top: 350px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
}

.team-list #info .button a {
  width: 200px;
  padding: 12px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.team-list #info:hover .button {
  opacity: 1;
}

/*Individual Team Page Style*/
#sectionline hr {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#profSection {
	background-color: #f2f2f2;
	width: 100%;
}

#profSection .header {
	padding: 50px;
	margin: 50px;
}

#profSection .profile img {
	margin-top: 50px
}

blockquote {
	margin-top: 10px;
    padding: 6px 16px;
    border: none;
    quotes: "\201C" "\201D";
    display: inline-block;
    position: relative;

}

blockquote:before { 
    content: open-quote;
    font-weight: bold;
    position:absolute;
    top:30px;
    left: 7px;
} 
blockquote:after { 
    content: close-quote;
    font-weight: bold;
    position:absolute;
    top:30px; right: 5px;
}

blockquote p {
	margin-top: 15px;
	padding: 15px;
}

.about {
	margin-left: 50px;
	padding: 45px;
	padding-left: 75px; 
}

.about .header {
	padding-bottom: 10px;
}

.navbar-brand{
	font-family: 'Futura-Bold', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar #rreMenu li a {
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header{
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    font-style: normal;
}

#container button {
	font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-style: normal;
}

/*PORTFOLIO STYLE*/
#portfolio {
	background-color: #684d94;
	padding-top: 0;
}
/*Symbol image */
#portfolio img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

#certify img {
	margin-left: 75px;
}

#certify .header {
	padding: 175px;
	margin-left: 45px;
}

#story {
	margin-left: 75px;
	padding: 50px;
}

#story .header {
	padding-bottom: 20px;
}





/*  ============  MEDIA QUERIES  ===============*/
@media ( max-width: 1100px ) {
  .updates {
    width: 100%;
    text-align: center;
  }

  .footer_holder {
    flex-wrap: wrap;
    position: initial;
  }

  .news, .updates {
    margin-right: 0 !important; 
  }

  .left_center {
    width: max-content !important;
    margin-top: 30px;
  }


}


@media ( max-width: 1000px ) {

  .intro {
    padding: 100px 30px;
  }

  .intro > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro .logos {
    margin-right: 0;
  }

  .intro h2 {
    text-align: center;
      font-size: 24px;
      line-height: 1.5em;
  }
    .contact_map{
        height: auto;
        background-size: contain;
    }
    .contact_box {
        background: rgba(255, 255, 255, 0.25);
    }
    ul.display-posts-listing li.listing-item {
        width: 100%;
        margin: 0 auto;
    }

  .logos {
    justify-content: center;
  }

  .logos a {
    margin: 10px;
  }

  .growth {
    flex-wrap: wrap;
  }

  .growth div {
    width: 100%;
    margin-bottom: 50px;
  }

  .growth div:last-child {
    text-align: center;
    margin-bottom: 0;
  }

  .growth div img {
    margin-bottom: 20px;
    text-align: center;
    width: 37%;
    max-width: 320px;
    min-width: 240px;
    margin-top: 0;
    left: auto;
    transform: none;
  }

  .view_more {
    display: block;
    text-align: center;
  }

  .about_us {
    flex-wrap: wrap;
    margin-bottom: 300px;
  }

  .about_text {
    padding-left: 0;
    width: 100%;
  }
    footer ul.menu li {
        display: block;
        margin: 0 auto 15px;
    }

  .float_right_img {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: -300px;
    top: auto;
  }
}

@media ( max-width: 900px ) {
  .home_hero .text_box {
    margin-top: -157px;
      margin-bottom: 0;
  }
    .hero h1 {
        line-height: 1.25em;
        font-size: 38px;
    }

  .circle_wrapper {
    width: 50% !important;
  }

  .circle_logo {
    width: 300px !important;
  }

  .moveUp {
    margin-top: 150px;
  }

  .portfolio img {
    max-height: 80px;
  }

  .portfolio a {
    height: 150px;
    width: 150px;
  }

  .portfolio {
    padding: 100px 15px;
  }


}

@media ( max-width: 900px ) {
  #contact_hero_text{
    margin-top: 0px;
  }
}



    /*  ==========  INVESTMENT PAGE  =============*/

.image-wrapper {
  box-sizing:border-box;
  float: left;
  margin-bottom:30px;
  width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  height: 300px;
/*    background: #f7f7f7;*/
}

/* .image-wrapper:nth-child(even)
{
  padding-left:5px;
}

.image-wrapper:nth-child(odd)
{
  padding-right:5px;
} */

.image-wrapper > img {
  width: 100%; 
  height: 100%;
}


.image-wrapper > span {
  display: inline-block;
  width: 100%;
}

.bottom_row{
  margin-bottom: 120px;
}

@media ( max-width: 800px ) {
  .bottom_row{
    margin-bottom: 60px;
  }
}  

/* .image-wrapper:hover {
  opacity: 0.5;
} */


.content {
  position: relative;
  width: 100%;
    height: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
    margin: 0 auto;
}
.content-image .content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details button{
  background-color: transparent;
  border: 1px solid #fff;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background-color .3s;
}

@media ( max-width: 800px ) {
  .content-details button{
    padding: 0px;
  }
    .image-wrapper {
        width: 100%;
    }
}  


.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}
header .logo {
    font-size: 14px;
}
/*  ==========  INVESTMENT PAGE END  =============*/







  #hamburger {
    display: block;
  }


  .circle_wrapper {
      position: absolute !important;
      width: 60% !important;
      margin-top: 300px;
      left: 50%;
      transform: translateX(-50%);
      right: auto;
  }

  .circle_logo {
    width: 200px !important;
    height: 200px !important;
  }

  .circle_logo img {
    width: 130px !important;
  }

  .portfolio_hero, .person_hero {
    align-items: flex-start;
  }
    .social-icons {
        justify-content: center;
    }
    .left_center {
        text-align: center;
    }

  .portfolio_hero .text_box, .person_hero .text_box  {
    margin-top: 60px;
  }

  .moveUp {
    margin-top: 220px;
  }

  .circle_logo.moveUp {
    margin-top: 260px;
  }

  .about_us, .growth, .team_list, .bio, .technology, .statement {
    padding: 60px 30px;
  }
    .hero {
        height:350px;
    }
    .home_hero {
        height:700px;
    }
  .services {
    flex-wrap: wrap;
  }

  .service {
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid #eaeaea;
  }

  .client_head {
    flex-wrap: wrap;
    justify-content: center;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 100px 30px;
    border-bottom: 3px solid #eaeaea;
  }

  .client_body {
    padding: 100px 30px;
  }

  .client_head img {
    width: 100%;
    max-width: 300px;
  }

  .client_head > div {
    margin-left: 0;
  }

  .about_us {
    text-align: center;
  }

  .about_text p {
    margin-right: 0;
  }

  .footer_holder > div {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .footer_holder > div:last-child {
    border-bottom: none;
  }
    .bio .form .form_left {
    width: 100%;
    float: none;
        margin-bottom: 20px;
    }
    .bio .form .form_right {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .portfolio_nav {
        width: 100%;
        float: none;
    }
    .portfolio {
        padding: 0;
        width: 100%;
        margin: 0 auto;
        float: none;
    }
}



@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    header {
      height: 8px;
    }

    header .logo {
      left: 20px;
      top: 26px;
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
    }

    .home_hero h1 {
      font-size: 33px;
    }

    .home_hero p {
      font-size: 20px;
    }

    #hamburger {
      right: 23px;
      top: 17px;
      transform: scale(.7);
    }

    .circle_wrapper {
      width: 70% !important;
    }

    .circle_logo {
      width: 200px !important;
      height: 200px !important;
    }

    .person_hero, .about_hero {
      height: 315px;
    }

    .dropdown {
      top: 69px;
    }

    .portfolio {
      width: 90%;
    }

    .portfolio a {
      height: 124px;
      width: 124px;
    }

    .portfolio img {
      max-height: 65px;
    }

    .logos a {
      height: 106px;
      width: 106px;
    }

    .technology {
      text-align: center;
    }


}

@media ( max-width: 1170px ) {
      header nav {
    display: none;
  }
}


@media ( max-width: 800px ) {
    .course_choices .container .course {
        width: 100%;
        margin: 0 auto 30px;
    }
    .home_hero {
        height: 400px;
    }
    .hero .text_box {
        width: 100%;
        bottom: 0;
        border-radius: 0;
        background-color: rgba(255, 255, 255, 0.25);
        margin-top: 0;
        height: 100%;
            display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .hero h1 {
        margin: 40px auto;
        width: 95%;
        font-size: 24px;
    }
    .hero p {
        font-size: 16px;
    }
    .intro h1 {
        font-size: 24px;
    }
    .container_overflow .row_3 {
        width: 100%;
        margin: 0 auto 10px;
    }
    iframe {
        width: 100% !important;
    }
    .testimonials {
        text-align: center;
    }
    section.testimonials .testimonial .content {
        width: 98%;
        margin: 0 auto;
    }
    .swiper-pagination.swiper-pagination2.swiper-pagination-bullets {
        display: none !important;
    }
    .swiper1 {
        padding-bottom: 0 !important;
    }
    .menu-footer-menu-container {
        width: 100%;
    }
    .social_links {
        margin-left: auto;
    }
    .social_links ul li {
        display: block;
    }
            .content .content-overlay {
        opacity: 1 !important;
                background: rgba(0,0,0,0.85);
    }
    .content-details {
        opacity: 1 !important;
    }
    .image-wrapper {
        height: auto;
    }
    .fadeIn-top {
        top:50%;
    }
    .content-details button {
            padding: 10px;
    width: 90%;
}
    .intro {
        padding: 60px 30px;
    }
    .intro .container {
        padding: 0;
    }
    .container_overflow {
        margin-top: 20px;
    }
    .container_overflow .row_2 {
        width: 100%;
        float: left;
    }
    .container_overflow .row_2.left_margin {
        margin: 20px auto 0;
    }
    .intro .container > div {
        flex-direction: column;
    }
    footer a.logo {
        margin-bottom: 30px;
    }
    footer ul.menu li {
        margin-bottom: 25px;
    }
    .intro > div p.inline_text {
        display: block;
        width: 100%;
        margin: 0 auto 40px;
    }
    .intro > div p.inline_video {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .icons .container {
        padding: 50px 0;
    }
    .icons .icon_group {
        float: none;
        width: 98%;
        margin: 0 auto 50px;
    }
    
    .icons#headshots .icon_group {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .modalbg .dialog {
        margin: 35% auto 0;
        padding: 0 0 30px 0;
    }
    .dialog .visual {
        margin-bottom: 25px;
    }
    .dialog .visual img {
        height: 100px !important;
    }
    .icons#headshots .icon_group > .visual {
            -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    }
}




.contact_map {
    background-size: cover;
    background-image:url(http://www.teamsm2.com/wp-content/uploads/2017/11/manhattanbeach.jpg);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contact_box {
    width: 98%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 30px;
    padding-bottom: 30px;
}


